
# Database Configuration
DB_DRIVER=postgres
DB_SOURCE=postgres://username:password@localhost:5432/dbname?sslmode=disable

# Server Configuration
HTTP_SERVER_ADDRESS=:8080
GRPC_SERVER_ADDRESS=:9090

# Authentication
ACCESS_TIME_DURATION=15m

# Environment
RUNNING_ENV=development

# Redis Configuration
REDIS_ADDR=localhost:6379
REDIS_PASS=

# GitHub App Configuration
GITHUB_APP_ID=
GITHUB_PRIV_KEY=axilock.pem
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_ID=

# Discord Integration
DISCORD_WEBHOOK=