h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
.banner .banner-title h4{
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    max-width: 954px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--lightgrey);
}
.banner form{
    width: 100%;
    max-width: 587px;
    margin-top: 18px;
}
.banner form label{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 5px;
}
.banner form input{
    width: 100%;
    border: 1px solid var(--lightgrey);
    margin-bottom: 22px;
    padding: 5px;
    border-radius: 3px;
}
.banner form .name input{
    width: 100%;
    max-width: 347px;
}
textarea{
    width: 100%;
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
}
textarea::placeholder{
    font-size: 12px;
}
.banner button{
    margin-top: 14px;
}
.banner form button{
    width: 100%;
    max-width: 104px;
    font-size: 14px;
    font-weight: 500;
}
.banner form .grey-btn{
    color: var(--black);
    border-radius: 7px;
    padding: 6px 34px !important;
}
.banner form .green-btn{
    padding: 6px 24px;
    margin-left: 17px;
    color: var(--white);
    background-color: #7DBD8F;
    border: 1px solid var(--lightgrey);
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    background-color: transparent;
    border: 1px solid var(--lightgrey);
    padding: 14px 10px;
}
.bottom .discard-detail{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}
.bottom .btn{
    font-size: 12px;
    font-weight: 600;
    margin: 0px;
    padding: 6px 24px;
    color: #D90004;
}
