h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 1.4rem !important;
    font-weight: 600;
    color: var(--black);
    margin: 0;
    padding: 2px 2px 0px 0px;
}
.title h2{
    font-size: 24px;
}
.offcanvas .navbar-nav .nav-link{
    margin-left: 2px;
}
.offcanvas .navbar:last-child{
    padding: 15px 0 72px 0;
}
.offcanvas .navbar:last-child .navbar-nav .nav-link {
    margin-top: 20px;
}
.banner{
    width: 100%;
    max-width: 1015px !important;
}
.banner-title h3{
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    opacity: 1;
}
.secret-scan-table{
    width: 1015px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secret-scan-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 174px 21px 22px;
    background-color: #F6F8FA;
    border: 1px solid var(--lightgrey);
}
.secret-scan-head .head-title{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}
.secret-scan-body{
    border: 1px solid var(--lightgrey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 20px;
}
.secret-scan-details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secret-scan-details h5{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    margin: 0 0 0 7px;
}
.secret-scan-details p{
    margin-left: 13px;
    padding: 2px 14px;
    border: 1px solid var(--lightgrey);
    border-radius: 10px;
    color: #59636E;
}
.secret-crud-details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secret-crud-details button{
    background-color: transparent;
    border: none;
    margin-left: 14px;
}
.secret-crud-details button:first-child{
    margin-left: 0px;
}